* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
}

#header {
  width: 100%;
  height: 50px;
  background-color: #f9f9f9;
  text-align: center;
}

.pesquisa {
  width: 40%;
  text-align: center;
}

#left {
  width: 20%;
  float: left;
  background-color: #f9f9f9;
}

#left #atalhos {
  margin-left: 5px;
  margin-top: 20px;
  font: 10px Arial, "MS Trebuchet", sans-serif;
}

#left #atalhos h3 {
  margin: 3px;
}

#left .field {
  margin-left: 20px;
  margin-top: 20px;
  font: 20px Arial, "MS Trebuchet", sans-serif;
}

input {
  padding: 10px;
  width: 150px;
  font: 20px Arial, "MS Trebuchet", sans-serif;
  border: 1px solid #D0DEF0;
  text-align: right;
}

.quantidade {
  width: 95px;
}

#content {
  width: 80%;
  float: left;
  font: 16px Arial, "MS Trebuchet", sans-serif;
  background-color: #f1f1f1;
  overflow: hidden;
}

table {
  border-collapse:collapse;
}
table thead {
  background-color: #bfd2e6;
}
.grid {
  overflow-y: scroll;
}
.grid thead tr {
  height: 20px;
}
.grid tbody tr {
  height: 30px;
  border: 1px solid #D0DEF0;
}
.grid tbody tr.active {
  background-color: #EDF0D0; 
}

#footer {
  text-align: center;
  width: 100%;
  float: left;
  background-color: #f9f9f9;
}

#footer #info {
  font: 42px Arial, "MS Trebuchet", sans-serif;
}

#footer #nome-cliente {
  font: 20px Arial, "MS Trebuchet", sans-serif;
  margin-left: 5px;
  margin-top: 20px;
  float: left;
}

#pesquisa-clientes {
  width: 450px;
  text-align: left;
}