<div id="header">
    <input type="text" id="pesquisa-produtos" class="pesquisa" autofocus="true" placeholder="Pesquisa de Produtos" />
    <input type="text" id="pesquisa-servicos" class="pesquisa" placeholder="Pesquisa de Serviços" />
</div>

<div id="left">
    <div class="field">
        <label>Produtos</label>
        <br/>
        <input type="text" data-bind="value: vendaAtiva().totalProdutos" />
    </div>
    <div class="field">
        <label>Serviços</label>
        <br/>
        <input type="text" data-bind="value: vendaAtiva().totalServicos" />
    </div>
    <div class="field">
        <label>Total</label>
        <br/>
        <input type="text" data-bind="value: vendaAtiva().total" />
    </div>

    <div id="atalhos">
      <h3>F2 - Nova Venda<h3>
      <h3>F3 - Fechar Venda<h3>
      <h3>F4 - Cancelar Venda<h3>
      <h3>F5 - Pesquisa de Produtos<h3>
      <h3>F6 - Pesquisa de Serviços<h3>
      <h3>F7 - Vendas Abertas<h3>
      <h3>F8 - Recibo de Venda<h3>
      <h3>F9 - Cliente da venda<h3>
      <h3>F10 - Navegar nos Produtos<h3>
      <h3>F11 - Navegar nos Serviços<h3>
    </div>
</div>

<div id="content">
    <table width="100%">
        <thead>
            <tr>
              <th width="60%" align="left">Produto</th>
              <th width="10%" align="center">Quantidade</th>
              <th align="center">Preço Unid.</th>
              <th align="center">Total</th>
            </tr>
        </thead>
    </table>
    <div class="grid" id="grid-produtos">
      <table width="100%">
        <tbody data-bind="foreach: vendaAtiva().produtos">
            <tr>
              <td width="60%" data-bind="text: descricao"></td>
              <td width="10%" align="right"><input class="quantidade" data-bind="value: quantidade" /></td>
              <td align="right" data-bind="text: preco"></td>
              <td align="right" data-bind="text: total">0,00</td>
            </tr>
        </tbody>
      </table>
    </div>

    <table width="100%">
        <thead>
            <tr>
              <th width="60%" align="left">Serviço</th>
              <th width="10%" align="center">Quantidade</th>
              <th align="center">Preço Unid.</th>
              <th align="center">Total</th>
            </tr>
        </thead>
    </table>
    <div class="grid" id="grid-servicos">
      <table width="100%">
        <tbody data-bind="foreach: vendaAtiva().servicos">
            <tr>
              <td width="60%" data-bind="text: descricao"></td>
              <td width="10%" align="right"><input class="quantidade" data-bind="value: quantidade" /></td>
              <td align="right" data-bind="text: preco"></td>
              <td align="right" data-bind="text: total">0,00</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>

<div id="footer">
    <h1 id="info">LIVRE</h1>
</div>

<div id="fechar-venda" style="display: none">
    <div class="field">
        <label>Desconto</label>
        <br/>
        <input type="text" data-bind="value: vendaAtiva().desconto" />
    </div>
</div>

<div id="recibo" style="display: none;">
  <a class="media" href="/recibo.pdf"></a>
</div>

<div id="vendas-abertas" style="display: none">
  <table width="100%">
      <thead>
          <tr>
            <th>Cliente</th>
          </tr>
      </thead>
  </table>
  <div class="grid" style="height:230px">
    <table width="100%">
      <tbody data-bind="foreach: vendas">
          <tr>
            <td width="100px"><a href="#" class="select">Selecionar</a></td>
            <td data-bind="text: id" class="id"></td>
            <td data-bind="text: cliente().nome"></td>
          </tr>
      </tbody>
    </table>
  </div>   
</div>

<div id="cliente" style="display: none;">
  <label>Cliente:</label>
  <input type="text" id="pesquisa-clientes" placeholder="Pesquise o cliente" />  
</div>