<table>
  <tr>
    <th>Produto</th>
    <th>Quantidade</th>
  </tr>
  <% @venda.item_venda.each do |v| %>
    <tr>
      <td><%= v.produto.descricao %></td>
      <td><%= v.quantidade %></td>
    </tr>
  <% end %>
</table>